pre.prettyprint {
    display: block !important;
    background-color: #282A36 !important;
}
.prettyprint .nocode {
    background-color: none !important;
    color: #000 !important;
}
.prettyprint .str {
    color: #F1FA8C !important;
}
.prettyprint .kwd {
    color: #8BE9FD !important;
    font-weight: bold !important;
}
.prettyprint .com {
    color: #6272A4 !important;
}
.prettyprint .typ {
    color: #8BE9FD !important;
}
.prettyprint .lit {
    color: #50FA7B !important;
}
.prettyprint .pun {
    color: #F8F8F2 !important;
}
.prettyprint .pln {
    color: #fff !important;
}
.prettyprint .tag {
    color: #F8F8F2 !important;
    font-weight: bold !important;
}
.prettyprint .atn {
    color: #8BE9FD !important;
    font-weight: bold !important;
}
.prettyprint .atv {
    color: #50FA7B !important;
}
.prettyprint .dec {
    color: #8BE9FD !important;
}

/* Specify class=linenums on a .prettyprint to get line numbering */
ol.linenums {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    color: #aeaeae !important;
} /* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
    list-style-type: none !important;
}
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
}

@media print {
    pre.prettyprint {
        background-color: none !important;
    }
    .prettyprint .str,
    code .str {
        color: #060 !important;
    }
    .prettyprint .kwd,
    code .kwd {
        color: #006 !important;
        font-weight: bold !important;
    }
    .prettyprint .com,
    code .com {
        color: #600 !important;
        font-style: italic !important;
    }
    .prettyprint .typ,
    code .typ {
        color: #404 !important;
        font-weight: bold !important;
    }
    .prettyprint .lit,
    code .lit {
        color: #044 !important;
    }
    .prettyprint .pun,
    code .pun {
        color: #440 !important;
    }
    .prettyprint .pln,
    code .pln {
        color: #000 !important;
    }
    .prettyprint .tag,
    code .tag {
        color: #006 !important;
        font-weight: bold !important;
    }
    .prettyprint .atn,
    code .atn {
        color: #404 !important;
    }
    .prettyprint .atv,
    code .atv {
        color: #060 !important;
    }
}
